@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Student

<hr>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Admission): @Html.DisplayFor(model => model.Admission)</h4>
<br>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student is not enrolled in any courses yet!</p>
}
else
{
  <h5>This student is in the following courses:</h5>
  <ul>
    @foreach(CourseStudent join in Model.JoinEntities)
    {
      <li><strong>@join.Course.Number</strong> / @join.Course.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Items"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to students", "Index")</p>
<p>@Html.ActionLink("Edit student profile", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>