@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Admission)
  @Html.TextBoxFor(model => model.Admission)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Students", "Index")</p>