@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Course

<h3>@Html.DisplayFor(model => model.Name)</h3>
<hr>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course does not have any students!</p>
}
else
{
  <h4>Students</h4>
  <ul>
  @foreach(CourseStudent join in Model.JoinEntities)
  {
    <li><strong>@join.Student.Name</strong> / Admission Date: @join.Student.Admission</li>
    @using (Html.BeginForm("DeleteJoin", "Tags"))
    {
      @Html.Hidden("joinId", @join.CourseStudentId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to course list", "Index")</p>
<p>@Html.ActionLink("Edit course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete course", "Delete", new { id = Model.CourseId })</p>