@{
  Layout = "_Layout";
}

@using Registrar.Models;

<div class="container h-100">
  <div class="courses h-75">
    <h4>Popular Courses</h4>
    @if (Model["courses"].Length == 0)
    { 
      <p>No courses have been added.</p>
    }

    @foreach (Course course in Model["courses"])
    {
      @Html.ActionLink($"{@course.Number} / {@course.Name}", "Details", "Courses", new { id = @course.CourseId})<br>
    }
  </div>
  
  <div class="students h-75">
    <h4>Enrolled Students</h4>
    @if (Model["students"].Length == 0)
    {
          <p>No students have been added.</p>
    }

    @foreach (Student student in Model["students"])
    {
      @Html.ActionLink(@student.Name, "Details", "Students", new { id = @student.StudentId})<br>
    }
  </div>
</div>